.spacer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    background-color: #222;
  }

  .horizontal-gallery-wrapper {
    height: 100vh;
    position: relative;
    overflow: hidden;
  }

  .horizontal-gallery {
    display: flex;
    height: 100%;
  }

  .horizontal-gallery img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 0;
    transform: scale(0.9);
  }