/*  FOOTER  */
@media (max-width: 860px) {
    footer {
        flex-direction: column;
    }
}

@media (min-width: 460px) and (max-width: 880px) {
    .gallery-image-mediaQuery {
        top: 65% !important;
    }
    .gallery-image-topOffset-mediaQuery {
        top: 2670px !important;
    }
}

@media (max-width: 600px) {
    .PDFcontainer {
        min-width: unset;
    }
    .boxPDF {
        padding-bottom: 20px;
    }
    #filterForm {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}
