#scrollToEndGallery {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    color: white;
    border: none;
    width: 75px;
    height: 75px;
    font-size: 40px;
    cursor: pointer;
    padding-bottom: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}
